name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout código
      uses: actions/checkout@v3

    - name: Instalar dependências
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-setuptools git zip unzip openjdk-17-jdk build-essential libffi-dev libssl-dev libsqlite3-dev
        pip install buildozer cython

    - name: Compilar APK
      run: |
        buildozer -v android debug

    - name: Upload APK como artefato
      uses: actions/upload-artifact@v3
      with:
        name: ColossusAdmin-APK
        path: bin/*.apk

